body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;
    background-image: url('../images/space.jpg');
    position: relative;
}

#player {
    position: absolute;
    background-image: url(../images/player.png);
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
}

.obstacle {
    position: absolute;
    background-image: url(../images/ufo4.png);
    background-size: 80%;
    background-position: 100%;
    background-repeat: no-repeat;
}

.bullet {
    background-color: white;
    position: absolute;
}

a:link, a:visited {
    background-color: #dc0f00;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }

  .game-over {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 7%;
    padding-bottom: 3%;
  }