body {
    margin: 0;
    padding: 0;
}

#board {
    height: 100vh;
    background-image: url('../images/space.jpg');
    position: relative;
}

#player {
    background-color: greenyellow;
    position: absolute;
}

.obstacle {
    background-color: rgb(90, 19, 156);
    position: absolute;
}

.bullet {
    background-color: white;
    position: absolute;
}

/* #game-over {
    height: 95vh;
    background-image: url('../images/game-over2.jpg');
    background-repeat: no-repeat;
} */

a:link, a:visited {
    background-color: #dc0f00;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    /* display: inline-block; */
  }

  .game-over {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 7%;
    padding-bottom: 3%;
  }